.no-script-container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  max-height: 100vh;
  overflow: hidden;
}

.no-script-container,
.no-script-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-script-content {
  width: min(1200px, 80%);
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.no-script-content img,
.no-script-content span {
  display: block;
}

.no-script-content img {
  width: max(150px, 50%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 3rem;
}

.no-script-content span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .no-script-content span {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .no-script-content span {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .no-script-content img {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 268px) {
  .no-script-content span {
    font-size: 1rem;
  }
}
